# -*- mode: shell-script -*-
#
# Control virtual system's "power" through vmware.
#

power_change={{power_change}}
power_address={{power_address}}
power_user={{power_user}}
power_pass={{power_pass}}
vm_name={{vm_name}}
vmware={{vmware}}

formulate_power_command() {
  if [ ${power_change} = 'on' ]
  then
      echo 'on'
  else
      echo 'shutdown'
  fi
}

issue_vmware_command() {
    ${vmware} $power_address $power_user $power_pass $vm_name $1
}

issue_vmware_command $(formulate_power_command)
